/*Barra de navegación*/
nav>ul>li {
    list-style:none/*estilo de lista o quitar viñetado*/}

nav>ul>li>a {
    text-decoration: none;/*decoración del texto*/
    color: #FFFFFF;}/*color de texto*/
    
.resaltado{
    color: yellow/*color de texto*/ }
/*Barra de navegación*/

.cuerpo_blog{
    background-color: black; color: #FFFFFF;}

.article{
    background: rgb(44, 43, 43);
    padding: 1.5rem;
    border-bottom: 1px solid #FFFFFF;}

#titulo_blog{
    font-size: 3rem;
    text-align: center;}

/*ilustraciones*/
.ilustracion{
    border: 4px solid #FFFFFF;
    display: inline-block;}

.ilustracion figcaption{
    margin-top: 1rem; 
    margin-left: 1rem; 
    font-style:italic}
/*ilustraciones*/

/*footer*/
#footer_blog{ 
    margin: 2rem;}
/*footer*/

